<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:noNamespaceSchemaLocation="http://www.nlog-project.org/schemas/NLog.xsd"
      throwExceptions="true" internalLogFile="nlog.txt" internalLogLevel="Debug">

  <targets>
    <target xsi:type="Database" name="database" connectionStringName="local">
      <commandText>
        insert into Log(LogDate, LogLevel, Message, Exception, StackTrace) VALUES(@logDate, @logLevel, @message, @exception, @stacktrace);
      </commandText>
      <parameter name="@logDate" layout="${date}" />
      <parameter name="@logLevel" layout="${level}" />
      <parameter name="@message" layout="${message}" />
      <parameter name="@exception" layout="${exception:format=Message,StackTrace}" />
      <parameter name="@stacktrace" layout="${stacktrace}" />
    </target>
    
    
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="database"/>
    
  </rules>
  
</nlog>